body {
  background-color: black;
  color: red;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.8em;
}

.container {
  width: 80%;
  margin: auto;
}

.button {
  background-color: yellow;
  color: red;
  font-weight: bold;
  font-size: medium;
  padding: 20px;
  border: none;
}

.clr {
  clear: both;
}

.box-1 {
  background-color: yellow;

  border-right: 5px red solid;

  border: 5px red solid;
  border-bottom-style: solid;

  padding: 30px;

  margin: 50px;
}

.box-1 h1 {
  text-decoration: underline;
  letter-spacing: 0.1em;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

a:visited {
  color: red;
}

.categories {
  border: 1px red solid;
  padding: 10px;
  border-radius: 5px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding-left: 100px;
  list-style: armenian;
}

.categories li {
  padding-bottom: 8px;
  border-bottom: solid 2px;
}

.my-form {
  padding: 30px;
}

.my-form .form-group {
  padding-bottom: 25px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form textarea {
  padding: 10px;
  width: 100%;
}

.block {
  float: left;
  width: 33.3%;
  border: 2px solid red;
  padding: 15px;
  box-sizing: border-box;
}

#main-block {
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background-color: yellow;
  padding: 15px;
  box-sizing: border-box;
}

.p-box {
  width: 800px;
  height: 500px;
  border: 2px solid orange;
  margin-top: 50px;
  position: relative;
  background-image: url("../image/putler.png");
  background-repeat: no-repeat;
  background-position: 100%;
}

.p-box h2 {
  position: absolute;
  margin-top: 50px;
  left: 150px;
}

.fix-me {
  position: fixed;
  top: 400px;
}

.my-list li:first-child {
  background: yellow;
}

.my-list li:last-child {
  background: orange;
}

.my-list li:nth-child(5) {
  background: white;
}
