body {
  background-image: linear-gradient(white, blue, red);
  background-repeat: no-repeat;
  height: 100vh;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.container h1 {
  font: bold;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.side {
  font-size: larger;
  border: 3px;
}

.side a:hover {
  color: black;
}

.image {
  width: 300px;
}
